/* СБРОС СТИЛЕЙ */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
height:100%;
width:100%;
font-size: 100%;
line-height: 1;
font-size:14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;
} 

input::-ms-clear{display: none;}
button{cursor: pointer;} 
button::-moz-focus-inner{padding: 0; border:0;} 
a, a:visited{text-decoration: none; color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;} 
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/* Первы экран */

body {
    font-family: Arial, sans-serif;
}

nav {
    height: 60px;
    width: 100%;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;

}

.menu {
    float:left;
    padding-left: 432px;
}

.menu li {
    float:left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/paren.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;

}

.title__container {
    float: left;
    margin-top: 432px;
    margin-left: 404px;
    color: #2c384a;
    text-align: center;

}
.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}
.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    
}

/* Заглавие каждого экрана */

.part {
    font-size: 28px;
    color: #263244;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 110px;
}

/* ОБО МНЕ */

.about_me_container {
    font-size: 16px;
    background-color: #fcfdfd;
    width: 100%;
    height: 100%;
}
.img_about_me {
    height: 202px;
    width: 202px;
    background-repeat: no-repeat;
    margin-left: 45%;
    padding-top: 5%;
}
.about_me_container>p {
    color: #3f495a;
    padding-top: 7%;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.about_me_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 0px 14px 0px 14px;
}

.what_i_can{
    background-image: url(../img/bg_sharps.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-height: 600px;
}
.mini_container{
    float:left;
    width: 210px;
    text-align: center;
    margin-left: 200px;
    margin-top: 100px;
}
.mini_container h1 {
    color:#cf7600;
    font-family: Bahnschrift, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
}
.mini_container p {
    color: #3f495a;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-top: 20px;
}

.cases h1 {
    margin-top: 70px;
    text-align: center;
}

.portf_img {
    margin-left: 390px;
    margin-top: 45px;
    margin-bottom: 40px;
}
.portfolio {
    margin-left: 390px;
    display: inline-block;
    
}
.portfolio h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #384354;
}
.portfolio p {
    color: #3f495a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.portfolio input {
    text-decoration: none;
    user-select: none;
    background-color: #63b5ae;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.portfolio a {
    font-weight: lighter;
    
}

.price_calc h2 {
    font-size: 28px;
    color: #263244;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 110px;
}
.price_calc p {
    font-size: 22px;
    font-weight: bold;
    margin-left: 500px;
    margin-top: 55px;

}
.my_stat {
    background-image: url(/src/img/bgstats.jpg);
    background-repeat: no-repeat;
}
.stat_container {
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    width: 210px;
    margin-left: 200px;
    margin-top: 100px;
    color: #323e4f;
    margin-bottom: 40px;
}
.stat_container h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 33px;
}
.stat_container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.feedback {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #243042;
    font-size: 16px;
    margin-bottom: 100px;
}
.img_feedback {
    margin-top: 100px;
    margin-bottom: 40px;
}
.feedback h3 {
    margin-top: 35px;
}

.contacts {
    background-image: url(/src/img/bg_contacts.jpg);
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    min-height: 100%;
}
.part_contact{
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 110px;
    padding-bottom: 70px;
}
.contacts_container {
    margin-left: 50px;
    margin-right: 75px;
    margin-top: 45px;
    margin-bottom: 35px;
    display: inline-block;
}
.contacts_container p {
    margin-top: 15px;
}
.messengers {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 75px;
    padding-bottom: 100px;
}